# SQL Interview Questions  - Quiz


## Introduction

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

What are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________

 - The four main datatypes in SQLite3 are Interger, Text, Real, and Blob. Yes, we can use other datatypes. They are lumped into one of the four main types.



## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________

- Primary Keys allow each row in a table to be uniquely identified. There should be no null or duplicate primary keys. 
- A foreign key helps create a relationship between another table. It can be a primary key from a different table.




## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
- One-to-One Relationship: When one record on the first table is only related to one record on a second table. i.e. customerNumber to  
- One-to-Many: When a single record on one table relates to multiple records on a second table. i.e. customerNumber to different orders
- Many-to-Many: When multiple records on one table relate to multiple records on a second table


## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________

- There are 3 main types of JOINs in SQL are INNER, LEFT, and RIGHT
- INNER: The default join in sql. It returns the intersection between two tables. 
- LEFT: Returns all values from the left table and any values that intersect from the right table. If the right table doesn't have a match, a NULL value is returned
- RIGHT: Returns all values from the right table and any values that intersect from the left table. If the left table doesn't have a match, a NULL value is returned


## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________

- GROUP BY groups data 
- Aggregate functions allow us to conduct quick mathematical operations such as SUM(), AVG(), MAX(), MIN(), COUNT()

## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?


Type your answer below this line:
_______________________________________________________________________________________________________________________________

- Associative Entities help track association between the two tables. 


## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.